* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  background: #312e38;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
button {
  cursor: pointer;
}

.container{
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  width: 100%;
  max-width: 700px;
}

.title{
  font-size:55px;
}

.content  form {
  margin: 80px 0;
  width: 340px;
  text-align: center;
}

.content form input {
  background: transparent;
  border: 0;
  color: #f4ede8;
  margin-top: 2rem;
  background: #232129;
  border-radius: 10px;
  padding: 16px;
  border: 2px solid #232129;
  color: #666360;
  width: 100%;
  display: flex;
  align-items: center;
}

.content form button {
  background: #EB5757;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #ffffff;
  width: 100%;
  font-weight: 500;
  margin-top: 4rem;
  transition: background-color 0.2s;
}

.content form h1 {
  margin-bottom: 24px;
}

.content form a {
  color: #f4ede8;
  display: block;
  text-decoration: none;
  transition: color 0.2s;
}

.content form a:hover {
  opacity: 0.8;
}


.background{
  flex: 1;
  background: url("../assets/background.png") no-repeat center;
  background-size: cover;
}