ul {
  margin-top: 0;
  margin-bottom: 9px
}

a {
  color: #EB5757;
  text-decoration: none;
  background: transparent;
}

body {
  line-height: 20px;
  font-family: Roboto, helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #312e38;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}


header {
  line-height: 60px;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 #e02041;
  height: 60px;
  background-color: #e02041;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
  border-radius: 0 0 5px 5px;
}

#header {
  position: relative;
  width: 970px;
  margin: 0 auto;
  background: #e02041;
}

#header .menu {
  float: left;
  line-height: 60px;
  margin-bottom: 0;
  font-size: 13px;
  list-style: none;
}

#header .menu li {
  display: inline-block;
}

#header .menu li a {
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
}

#header .menu li a:hover {
  background-color: #c41f3b;
}

#header .name {
  color: #fff;
  height: 60px;
  float: left;
  margin-right: 90px;
  margin-top: 0;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-variant: small-caps;
  margin-left: -50px;
}

.container{
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
}

.item{
  display: flex;
  align-items: center;
  justify-items: space-between;
  margin-top: 5rem;
}
.title{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 6rem;
  text-align: center;
}

.imagem{
  width:220px ;
  height: 400px;
}

.info{
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
}

.tituloProduto{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: -0.2rem;
}

.descricao{
  color: #fff;
  width: 250px;
  height: 250px;
  font-family: sans-serif;
  margin-left: 1rem;
  margin-top: -1rem;
  text-align: justify;
}

.preco{
  color: #fff;
  color: #fff;
  width: 250px;
  font-family: sans-serif;
  margin-left: 1rem;
  text-align: justify;
  font-size: 20px;

}

.comprar{
  color: #e02041;
  font-size: 30px;
  background: none;
  border: none;
  margin-top: -1rem;
  margin-right: 8rem;
  text-align: start;
  cursor: pointer;
}

.comprar:hover{
  border-bottom: 3px solid #e02041;
}
