.form {
  margin: auto;
  max-width: 730px;
  background: #FFF;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

p{
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

fieldset{
  border: 2px solid #1C1C1C;
  border-radius: 5px;
}

input{
  flex: 1;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #1C1C1C;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #1C1C1C;
}

input[type=text]{
  width:380px;
  height: 35px;
  display: flex;
  justify-content:center ;
  align-items: center;
  margin-top: -20px;
}

input::placeholder{
  font-size: 18px;
  text-align: initial;
}

label{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttom{
  padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #7159c1;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
